@page "/classdaily"

@using ClassManagementClient.Data
@using Syncfusion.Blazor.Lists
@inject StudentService StudentService

<h3>Klas</h3>

@if (students == null)
{
	<p><em>Loading...</em></p>
}
else
{
<SfListView DataSource="@students" CssClass="e-list-template" TValue="ClassManagementService.StudentInClass" >
	<ListViewFieldSettings Id="StudentNumber" Text="FirstName" SortBy="NumberInClass" />
	<ListViewEvents TValue="ClassManagementService.StudentInClass" Selected="@(e => StudentSelected(e.Data))"/>
	<ListViewTemplates TValue="ClassManagementService.StudentInClass">
		<Template>
			<div class="e-list-wrapper e-list-multi-line e-list-avatar">
				<span class="e-avatar e-avatar-circle">@((context as ClassManagementService.StudentInClass).NumberInClass)</span>
				
				<span class="e-list-item-header">@((context as ClassManagementService.StudentInClass).FirstName)</span>
				<span class="e-list-content">@((context as ClassManagementService.StudentInClass).FullName)</span>
			</div>
		</Template>
	</ListViewTemplates>
</SfListView>
}
<br />
<br />

@if (selectedStudent != null)
{
	<p>student geselecteerd</p>
}

@code {
	private IEnumerable<ClassManagementService.StudentInClass>? students;

	private ClassManagementService.StudentInClass? selectedStudent;

	protected override async Task OnInitializedAsync()
	{
		students = await StudentService.ListStudentsForClass("1A");
	}

	protected void StudentSelected(ClassManagementService.StudentInClass selectedStudent)
	{
		this.selectedStudent = selectedStudent;
	}
}
